.grid-3 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
	grid-gap: 3rem;
	li {
		margin-bottom: 0!important;
	}

	@include bp($point_4) {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
	grid-gap: 3rem;
	li {
		margin-bottom: 0!important;
	}
	@include bp($point_4) {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
}

.small-title {
	font-size: 2.3rem;
	line-height: 100%;
	@include bp($point_2) {
		font-size: 2rem;
		line-height: 2.4rem;
	}
	@include bp($point_4) {
		font-size: 1.8rem;
		line-height: 2.2rem;
	}
}

.mb8 {
	margin-bottom: $m8;
}

.hovered-el {
	&:hover {
		&:before {
			visibility: visible;
			opacity: 1;
		}
	}

	@include bp($point_2) {
		&:before {
			visibility: visible!important;
			opacity: 1!important;
		}
	}

	position: relative;

	&:before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $dark-vio;
		content: '';
		@include z-index(el);
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
	}
}

.hovered-transform {
	transition: all .3s ease;
	position: relative;
	.project_item_img {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(104, 52, 244, 0.2), rgba(104, 52, 244, 0.2));
			transition: all .2s ease;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}
	&:hover {
		.project_item_img {
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.hover-btn-fill {
	button, a, input[type="submit"] {
		border: .1rem solid $dark-vio!important;
		transition: all .2s ease;
		&:hover, &.current-page-item {
			background-color: $trans!important;
			border-color: #FFFFFF33!important;
		}
	}
}

.hover-btn-border {
	button, a, input[type="submit"] {
		transition: all .2s ease;
		&:hover, &.current-page-item {
			background-color: $dark-vio!important;
			border-color: $trans!important;
		}
	}
}



.footer_infoPhone_list {
	li {
		a {
			transition: all .3s ease;
			&:hover {
				color: $dark-vio;
			}
		}
	}
}

.global-mb {
	padding: $m8 0;
	@include bp($point_2) {
		padding: $m6 0;
	}
}