.hero {
	position: relative;
	background: url('../../i/home/hero_background.jpg') center/cover no-repeat;
	padding: $header 0 4rem 0;
	margin-top: -$header;
	margin-bottom: $m8;
	@include bp($point_2) {
		margin-bottom: $m6;
	}
	@include bp($point_4) {
		margin-top: -$header_mob;
	}
	button {
		color: $white;
	}
}
.section_in {
}
.hero_main {
	@include flex-start;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	padding: 16.6rem 0 33.3rem;
	height: calc(100vh - $header - 4rem);
	@include bp($point_2) {
		height: calc(60vh - $header - 4rem);
		padding: $m6 0;
	}
	@include bp($point_4) {
		padding-bottom: 20rem;
		height: calc(100vh - $header_mob - 4rem);
	}
}
.hero_content {
	max-width: 55.2rem;
}
.hero_title {
	h1 {
		font-size: 6rem;
		@include bp($point_4) {
			font-size: 3rem;
		}
	}
}
.hero_txt {
	margin: 3rem 0 6rem;
	@include bp($point_4) {
		margin: 2rem 0 4rem 0;
	}
}

.hero_tag_list {
	position: absolute;
	bottom: 0;
	left: 0;
	@include flex-start;
	li {
		font-size: 1.8rem;
		@include bp($point_4) {
			font-size: 1.4rem;
		}
		&:not(:last-child) {
			margin-right: 4.1rem;
			position: relative;
			@include bp($point_4) {
				margin-right: 2rem;
			}
			&:after {
				position: absolute;
				top: 50%;
				transform: translateY(-70%);
				width: .5rem;
				height: .5rem;
				background-color: $white;
				content: '';
				border-radius: 100%;
				right: -2.3rem;
				@include bp($point_4) {
					right: -1.2rem
				}
			}
		}
	} 
}

.responcible_main {
	@include flex-start;
	align-items: flex-start;
	@include bp($point_2) {
		flex-direction: column;
	}
}
.responcible_title {
	margin: -1.5rem $m13 0 0;
	max-width: 60rem;
	@include bp($point_2) {
		margin: 0 0 $m6 0;
	}
	@include bp($point_4) {
		margin-bottom: 4rem;
	}
}

.responcible_txt {
	margin: $m3 0 $m6 0;
}



.section_title {
	margin-bottom: $m6;
	@include bp($point_4) {
		margin-bottom: $m4;
	}
}


.tech_title {
	margin-bottom: $m10;
	@include bp($point_2) {
		margin-bottom: $m6;
	}
}
.tech_list {
	@include flex-space;
	flex-wrap: wrap;
	margin: -12rem -20.6rem 0 0;
	@include bp($point_2) {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
		grid-gap: 5rem;
		margin: 0;
	}
	@include bp($point_4) {
		grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	}
	li {
		padding: 12rem 20.4rem 0 0;
		@include bp($point_2) {
			padding: 0;
		}
	}
}
.tech_item {
}

.action_main {
	background: url('../../i/home/action_bg.jpg') center/cover no-repeat; 
	border-radius: 2rem;
	overflow: hidden;
	padding: $m10 $m13;
	@include flex-start;
	align-items: flex-start;
	@include bp($point_2) {
		flex-direction: column;
		padding: $m6;
	}
	@include bp($point_4) {
		padding: $m6 2rem;
	}
}
.action_content {
	max-width: 49.8rem;
	margin-right: 20rem;
	@include bp($point_2) {
		margin: 0 0 $m6 0;
		max-width: 100%;
	}
}
.action_content_head {
	h4 {
		@include bp($point_4) {
			margin-bottom: 3rem;
		}
	}
	p {
		margin: $m4 0 15.7rem 0;
		@include bp($point_2) {
			margin: 0 0 $m4 0;
		}
	}
}
.action_content_bottom {

	li {
		font-size: 2rem;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}
.action_form_w {
	flex-grow: 1;
	@include bp($point_2) {
		width: 100%;
	}
}
.action_form {

}
.global_input {
}
.action_input {
}
.action_textarea {
}
.action_bottom {
	@include flex-start;
	flex-wrap: wrap;
}
.action_btn {
	max-width: 24.5rem;
	flex: 50%;
	margin-right: 2rem;
	@include bp($point_4) {
		max-width: 100%;
		margin: 0 0 2rem 0;
		flex: auto;
		width: 100%;
	}
}
.action_notice {
	font-size: 1.6rem;
	flex: 1;
	flex-grow: 1;
	max-width: 34.5rem;
	@include bp($point_4) {
		max-width: 100%;
		flex: auto;
		flex-grow: auto;
		font-size: 1.2rem;
	}
	a {
		border-bottom: .1rem solid $white;
	}
}
.homeProject {
}

.homeProject_head {
	@include flex-space;
	@include bp($point_4) {
		flex-direction: column;
		align-items: flex-start;
	}
}
.homeProject_title {
	@include bp($point_4) {
		margin-bottom: 2rem;
	}
}
.homeProject_link {
	a {
		@include flex-start;
		color: $dark-vio;
		font-size: 2.3rem;
		line-height: 2.6rem;
		font-family: $font_2;
		@include bp($point_4) {
			font-size: 1.6rem;
		}
		&:hover {
			color: $white;
		}
		p {
			margin-right: 2rem;
		}
	}
}


.section_head {
	@include flex-space;
}
.partners_head {
}
.section_head_title {
}
.slider_nav {
	@include flex-start;
}
.partners_nav {
}
.slider_btn_nav {
	width: 4.7rem;
	height: 4.7rem;
	border-radius: 0.7rem;
	background-color: $dark-vio;
	@include bp($point_4) {
		width: 3.5rem;
		height: 3.5rem;
	}
	&:nth-child(1) {
		margin-right: 3rem;
		@include bp($point_4) {
			margin-right: 2rem;
		}
	}
	button {
		width: 100%;
		height: 100%;
		@include flex-center;
		color: $white;
		border: 0;
	}
	&.swiper-button-disabled {
		background-color: rgba(255, 255, 255, 0.1);
		pointer-events: none;
	}
}

.partners_slide {
	filter: grayscale(100%) brightness(0.5);
	transition: all .3s ease;
	&:hover {
		filter: grayscale(0);
	}
}