.hero {
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-color: $white;
		@include z-index(el);
	}
	background-color: rgba(40, 40, 40, 0.8);;
}
.section_in {
}
.hero_main {
	@include flex-start;
	padding: 14rem 0 16.3rem 0;
	margin-bottom: 13rem;
	@include bp($point_2) {
		flex-direction: column;
		padding: 8rem 0;
		position: relative;
		margin-bottom: 10rem;
	}
}
.hero_content {
	margin-right: 8.8rem;
	@include bp($point_2) {
		margin: 0 0 4rem 0;
	}
}
.hero_title {
	margin-bottom: 6rem;
	@include bp($point_2) {
		margin-bottom: 3rem;
	}
}
.form_w {
}
.form_input {
}
.form_policy {
}
.form_btn {
}
.hero_img {
	width: 100%;
	height: 100%;
	max-width: 67.5rem;
	@include bp($point_2) {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		opacity: .2;
		transform: translate(-50%, -50%);
		@include z-index(el);
	}
} 
.services {
}
.services_title {
	margin-bottom: 8rem;
	@include bp($point_2) {
		margin-bottom: 4rem;
	}
}
.services_grid_w {
}
.services_grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(41.7rem, 1fr));
	grid-gap: 3.5rem;
	margin-bottom: 16rem;
	@include bp($point_2) {
		grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
		margin-bottom: 10rem;
	}

	@include bp($point_6) {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}

	li {
		background-color: #353535;
		box-shadow: 0 .4rem 3.5rem rgba(0, 0, 0, 0.7);
		@include bp($point_2) {
			@include flex-start;
			flex-direction: column;
			align-items: flex-start;
		}

		h3 {
			color: $white;
			font-size: 2rem;
			margin-bottom: 1.5rem;
			font-family: $font_11;
		}
	}
}
.services_item {
}
.services_item_img {
	max-height: 24.6rem;
	height: 100%;
	overflow: hidden;
	width: 100%;
	@include bp($point_2) {
		max-height: 24rem;
	}
	img {
		object-fit: cover;
	}
}
.services_item_content {
	padding: 2rem 3rem 0 3rem;
	@include bp($point_2) {
		padding: 1.5rem 2rem 0 2rem;
	}
	
	& p {
		font-size: 1.8rem;
		opacity: .7;
		margin-bottom: 3rem;
		font-weight: 400;
		font-family: $font_1;
		@include bp($point_2) {
			font-size: 1.6rem;
		}
	}
}
.services_item_price {
	font-size: 2rem;
	font-family: $font_3;
}
.services_btn_group {
	padding: 3rem;
	@include bp($point_2) {
		padding: 2rem;
		width: 100%;
	}
	.btn:first-child {
		margin-bottom: 1.5rem;
	}
	.btn {
		a {
			padding: 2.4rem 4.6rem;
			font-family: $font_2;
			@include bp($point_2) {
				padding: 1.7rem 2rem;
				font-size: 1.4rem;
			}
		}
	}
}

.service_call_icon {
	width: 2.8rem;
	height: 2.8rem;
	margin-right: 1.5rem;
	@include bp($point_2) {
		display: none;
	}
	svg {
		color: $white;
		width: 100%;
		height: 100%;
	}
}
.icon {
}
.icon-call {
}
.mod_wa {
	a {
		background-color: $bordo;
		&:hover {
			background-color: $red;
		}
	}
}
.services_call_icon {
}
.service {
}
.service_main {
}
.service_title {
}
.service_grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(35.9rem, 1fr));
	grid-gap: 2rem 12rem;
	justify-content: space-between;
	margin-bottom: 16rem;
	@include bp($point_2) {
		margin-bottom: 10rem;
	}
}
.service_item {
	@include flex-start;
	align-items: flex-start;
	@include bp($point_2) {
		flex-direction: column;
		align-items: center;
		border: .1rem solid #e5e5e523;
		padding: 2rem;
	}
}
.service_item_icon {
	max-width: 6.5rem;
	margin-right: 3rem;
	@include flex-center;
	@include bp($point_2)  {
		max-width: 5rem;
		margin: 0 0 2rem 0;
	}
}
.service_item_content {
	@include bp($point_2) {
		text-align: center;
	}

	h4 {
		color: $white;
		font-family: $font_2;
		margin-bottom: 2rem;
		@include bp($point_2) {
			margin-bottom: 1rem;
		}
	}
	p {
		opacity: .7;
	}
}
.action {
}
.action_main {
	@include flex-start;
	background-color: #353535;
	margin-bottom: 16rem;
	@include bp($point_2) {
		flex-direction: column;
		margin-bottom: 10rem;
	}
}
.action_form_w {
	padding: 6rem 15.7rem 8rem 15.7rem;
	@include bp($point_2) {
		padding: 4rem 2rem;
	}
}
.action_form_head {

	h5 {
		color: $white;
		font-family: $font_1;
		margin-bottom: 4rem;
		text-align: center;
	}
}
.action_form {
}
.action_img {
	width: 100%;
	height: 100%;
	max-width: 55.8rem;
}
.contacts {
}
.contacts_main {
	margin-bottom: 13rem;
	@include bp($point_2) {
		margin-bottom: 10rem;
	}
}
.contacts_title {
	margin-bottom: 8rem;
	@include bp($point_2) {
		margin-bottom: 4rem;
	}
}
.contacts_list {
	@include flex-start;
	@include bp($point_2) {
		flex-direction: column;
		align-items: flex-start;
	}
	li {
		&:not(:last-child) {
			margin-right: 27.8rem;
			@include bp($point_2) {
				margin: 0 0 3rem 0;
			}
		}

		p {
			margin-bottom: 3rem;
			font-family: $font_11;
			@include bp($point_2) {
				margin-bottom: 1rem;
			}
		}

		a, span {
			opacity: .7;
			&:hover {
				opacity: 1;
			}
		}
	}
}
.map {

	#map {
		height: 71.5rem;
		width: 100%;
		@include bp($point_2) {
			max-height: 30rem;
		}
	}
}

.ymaps-2-1-79-ground-pane {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}