.heading-title {
	h2, h3, h4, h5, h6 {
		margin-bottom: 3rem;
	}
}

.heading-block {
	margin-bottom: 6rem;
}

.heading-txt {
	max-width: 77.5rem;
}

.reviewSite_img {
	border-radius: 2rem;
	overflow: hidden;
}