extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Контекстная реклама'}
block content_block
	+singleHead({
		img: 'seo',
		page: 'Услуги',
		title: array.title_inner,
		btn: true,
	})
	section.single_body 
		.section_in
			.global-styleBlock.global-mb
				h3.mb6 Знакомая ситуация?
				include ./components/default-card
			.global-styleBlock.global-mb
				h3.mb6.max-50 После осознания проблемы вы начинаете искать ее решение:
				include ./components/choice-card
			.complete-banner.callback-banner.global-mb8(style="background: url('../i/global/callback.jpg')")
					.complete_banner--content
						h3 Заголовок для текста
						p Просто кратко ответьте в опроснике ниже, для каких целей сайт - и мы подготовим несколько вариантов предложений с обоснованием,почему и сколько это стоит.
						.btn-fill.btn.hover-btn-fill.trigger(data-target="form")
							button(type="button" class="xxl btn") Оставить заявку
			.global-styleBlock.global-mb
				include components/image-card
			.global-styleBlock.global-mb 
				h3.mb6.max-60 С нами вы получаете результат, который приносит деньги в вашу кассу
				include ./components/static-block
			.global-styleBlock.global-mb
				.action_main 
					.action_content 
						.action_content_head 
							h4 Получите персональное коммерческое предложение
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
						ul.action_content_bottom 
							each item in ['+7 995 223-30-41', 'arkada.webstudio@yandex.ru']
								li 
									a(href="#")=item
					.action_form_w 
						form.action_form
							+input({
								class: 'action_input'
							})
							+input({
								type: 'tel',
								place: 'Ваш телефон',
								class: 'action_input'
							})
							.action_input.action_textarea.global_input
								textarea(placeholder="О вашем проекте (необязательно)" rows="6")
							.action_bottom 
								.action_btn.btn-fill.btn.submit_btn.hover-btn-fill 
									input(class="xl" type="submit", value="Отправить")
								.action_notice!='Отправляя форму, вы соглашаетесь с <a href="#" target="_blank" >политикой конфиденциальности.</a>'
			+content_block({
					btn: false,
					img: 'context/context',
					txt: true
				})
			.global-styleBlock.global-mb
				h4.mb6 Что входит в работу
				include ./components/steps-block
			.single_body_main
				.contextPackage.global-mb
					include ./components/card-number
					p К каждому пакету настраивается: метрика, цели рекламы, скрипты для отслеживания пользователя. Также рекомендуем подключать Сквозную Аналитику.
				//- .typeWork_block.global-mb 
				//- 	.typeWork_block_head.section_title 
				//- 		h4 Что входит в работу
				//- 	ul.typeWork_block_list.grid-2
				//- 		-for(i = 0; i < 4; i++)
				//- 			li
				//- 				h3 Аналитика
				//- 				ul 
				//- 					each item in ['Технический анализ сайта;', 'Анализ юзабилити, подготовка рекомендаций по улучшению конверсионности;', 'Анализ сайтов конкурентов, подготовка рекомендаций по функционалу;', 'Анализ динамики позиций и трафика для отслеживания результатов продвижения;', 'Анализ ссылочных профилей конкурентов и подготовка рекомендаций.']
				//- 						li=item
										

				.serviceSlider_block.global-mb 
					+sectionHead({
						title: 'Также мы предлагаем',
						class: 'serviceSlider'
					})
					.service_slider--w 
						.service-slider.swiper 
							.swiper-wrapper
								-for(i = 0; i < 12; i++) 
									.swiper-slide.service_item.hovered-el 
										a(href="#")
											.service_item_head
												.service_item_title 
													h3.small-title Разработка сайтов
												.service_item_txt 
													p Сайт, разработанный в нашей студии, поможет вашим клиентам получить информацию о вашей компании и её услугах.
											.service_item_link 
												p Подробнее
												.service_itemLink_icon
													+icon('arrow')
				+seo-block({section: true,})