extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Web studio Arkada'}
block content_block
	+bread(['Главная'], 'Контакты', title=true)
	section.page-content 
		.section_in 
			.page_content_main
				ul.page_contacts_list 
					li 
						p Номера телефонов:
						ul
							each item in ['+7 995 <span>223-30-41</span>', '+7 995 <span>223-30-41</span>']
								li 
									a(href="#")!=item
					li 
						p Почта:
						a(href="#") arkada.webstudio@yandex.ru
					li 
						p Соцсети:
						ul.social_list 
							each item in ['wa', 'tg', 'vk']
								li 
									a(href="#")
										img(src=`i/social/${item}.svg`, alt="")