extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Контекстная реклама'}
block content_block
	+singleHead({
		img: 'seo',
		page: 'Услуги',
		title: title_inner,
		btn: true,
	})
	section.single_body 
		.section_in 
			.single_body_main
				+txt_block({
					title: 'Привлечем клиентов с помощью рекламы'
				}) 
				+content_block({
					btn: true,
					img: 'single/context_small'
				})
				.contextPackage
					h4 Пакеты настройки рекламы 
					ul.contextPackage_list
						-for(i = 0; i < 3; i++)
							li 
								.contextPackage_item_head 
									p Ваш бюджет в неделю
									span 5 000 - 10 000
								p Вы получаете:
								ul
									-for(i = 0; i < 3; i++)
										- var oneLabel = ['Семантическое ядро', 'Мастер кампании', 'Ретаргетинг']
										- var oneVal = ['100 ключей', '1 компания', 'есть']
										li 
											p!=oneLabel[i]
											span!=oneVal[i]
					p К каждому пакету настраивается: метрика, цели рекламы, скрипты для отслеживания пользователя. Также рекомендуем подключать Сквозную Аналитику.
				.typeWork_block 
					.typeWork_block_head 
						h4 Что входит в работу
					ul.typeWork_block_list
						-for(i = 0; i < 4; i++)
							li
								h3 Аналитика
								ul 
									each item in ['Технический анализ сайта;', 'Анализ юзабилити, подготовка рекомендаций по улучшению конверсионности;', 'Анализ сайтов конкурентов, подготовка рекомендаций по функционалу;', 'Анализ динамики позиций и трафика для отслеживания результатов продвижения;', 'Анализ ссылочных профилей конкурентов и подготовка рекомендаций.']
										li=item
										

				.workSlider_block 
					+sectionHead({
						title: 'Наши партнеры',
						class: 'workSlider'
					})
					.workSlider_w 
						.workSlider_slider.swiper 
							.swiper-wrapper 
								.swiper-slide 
									.project_item 
										a(href="#")
											.project_item_img
												img(src="i/project/project.jpg", alt="")
											.project_item_content 
												h3 Дизайн интерьера “WP Interior design”
												ul.project_tag_list 
													each item in ['Web-разработка', 'Контекстная реклама']
														li 
															a(href="#")=`#${item}`