extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Web studio Arkada'}
block content_block
	+bread(['Главная'], 'Наши услуги', title=true)
	section.page-content 
		.section_in
			.page_content_main.mb8 
				+service