extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Сайт для строительной сферы'}
block content_block
	section.thanks 
		.section_in 
			.thanks_main 
				h1 Спасибо, ваша заявка отправлена!
				.btn.btn-fill.hover-btn-fill
						a(class="xxl" href="#") На главную