extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Деловые консультации'}
block content_block
	+singleHead({
		img: 'development',
		page: 'Проекты',
		title: title_inner,
		tag: ['Контекстная реклама', 'Web-разработка']
	})
	section.workSingle 
		.section_in 
			.workSingle_main 
				+serviceWork
				+target
				.designBlock 
					.designBlock_head.global_txt 
						h4 Дизайн сайта
						p Специализируясь на разработке сайтов под ключ и продвижении, мы проводим комплексную работу, которая дает гарантированный результат.
						p Слаженные действия специалистов позволяют максимально настроить всю работу на реализацию поставленных целей и задач.
					.designBlock_gallery 
						.designBlock_img 
							img(src="i/single/des1.jpg", alt="")
						.designBlock_img 
							img(src="i/single/des2.jpg", alt="")
				.adaptiveBlock 
					.adaptiveBlock_head 
						h4 Адаптив сайта
						p Специализируясь на разработке сайтов под ключ и продвижении, мы проводим комплексную работу, которая дает гарантированный результат.
					.adaptiveImg 
						img(src="i/single/adaptive.png", alt="")
				.workSlider_block 
					+sectionHead({
						title: 'Наши партнеры',
						class: 'workSlider'
					})
					.workSlider_w 
						.workSlider_slider.swiper 
							.swiper-wrapper 
								.swiper-slide 
									.project_item 
										a(href="#")
											.project_item_img
												img(src="i/project/project.jpg", alt="")
											.project_item_content 
												h3 Дизайн интерьера “WP Interior design”
												ul.project_tag_list 
													each item in ['Web-разработка', 'Контекстная реклама']
														li 
															a(href="#")=`#${item}`
