extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Деловые консультации'}
block content_block
	+singleHead({
		img: 'development',
		page: 'Проекты',
		title: array.title_inner,
		btn: true,
	})
	section.workSingle 
		.section_in 
			.workSingle_main 
				+serviceWork
				+target
				+settings({})
				.trafficBlock
					.trafficBlock_time_w.global-mb 
						h2.section_title Трафик в месяц
						.trafficBlock_time.grid-2 
							.trafficBlock_range.before_traffic
								.trafficBlock_range_head 
									p До
									p 21.12.2022
								.trafficBlock_result
									span.traffic_range(data-percent="300")
									p.before_result 300
							.trafficBlock_range.after_traffic
								.trafficBlock_range_head 
									p До
									p 21.12.2022
								.trafficBlock_result
									span.traffic_range(data-percent="500") 
									p.after_result 500
					.exampleBlock.global-mb 
						h4.section_title Примеры ключевых запросов
						.exampleBlock_main 
							ul 
								li 
									p РСЯ
									span 10 рекламных кампаний
								li 
									p Поисковая реклама
									span 30 рекламных кампаний
								li 
									p Мастер кампаний
									span 1 рекламная кампания
								li 
									p Баннер на поиске
									span 3 рекламных кампании
							.exampleResult 
								p 55
								span Ключевых запросов всего
				.workSlider_block.global-mb 
					+sectionHead({
						title: 'Другие проекты',
						class: 'workSlider'
					})
					.workSlider_w
						.workSlider_slider.swiper 
							.swiper-wrapper
								-for(i = 0; i < 12; i++) 
									.swiper-slide 
										.project_item.hovered-transform 
											a(href="#")
												.project_item_img
													img(src="i/project/project.jpg", alt="")
												.project_item_content 
													h3.small-title Дизайн интерьера “WP Interior design”
													ul.project_tag_list 
														each item in ['Web-разработка', 'Контекстная реклама']
															li 
																a(href="#")=`#${item}`
