ul.choice-list
	-for(idx = 0; idx < 2; idx++)
		- let icon = ['failed', 'success']
		- let title = ['Найти фрилансера', 'Обратиться в компанию']
		li.choice_item 
			span Что если...
			h3=title[idx]
			ul 
				-for(i = 0; i < 3; i++)
					li
						+icon(icon[idx])
						p Никаких гарантий и «волшебные» обещания, а на деле наблюдаете слив бюджета