ul.default_card--list.grid-3 
	-for(i = 0; i < 3; i++)
		li.default_card--item 
			p Клиенты имеются, но нет стабильного и прогнозируемого потока заявок.
			p Нет маркетинговой системы, в которую вкладываешь 50 000 ₽, а достаёшь 500 000 ₽