ul.image-card
	-for(i = 0; i < 3; i++)
		li.image_card--item
			.imageCard_item--img 
				img(src=`i/globa/service-${i}`, alt="")
			span Вы получаете систему, ежедневно приводящую клиентов
			p Делаем не просто сайт, а целый комплекс услуг по привлечению клиентов в ваш бизнес, используя более 20 рекламных каналов.
